


<div class="login_container">
  <div class="ui centered stackable grid">
    <div class="six wide column">
      <div class="logo"></div>

      <% if flash[:alert].present? %>
      <div class="ui negative message">
          <i class="close icon"></i>
          <p><%= flash[:alert] %></p>
      </div>
      <% end %>
      <div class="ui segments" align="center">
        <div class="ui segment">
         <%= render "form" %>
          <div style="background:#EDEDED;font-size:12px;">
             <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

