<div class="login_container">
  <div class="ui centered stackable grid">
    <div class="six wide column">
      <div class="logo"></div>
      <% if flash[:alert].present? %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>
      <%= render "form" %>
    </div>
  </div>
</div>


