/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_custom
 *= require font-awesome
 *= require ionicons
 *= require AdminLTE.min
 *= require _all-skins
 *= require main
 *= require semantic
 *= require fakeloader
 *= require fileinput
 *= require_self
 */
/*
.new-task-file-bottom{
    width: 100%;
    margin-top: 10px;
}

.new-task-file-img-padding-5{
    padding-left: 5px;
    padding-right: 5px;
}

.new-task-reply-box{
    padding: 25px 0px 15px;
}
.new-task-reply-box-title{
    width: 100%;
    float: left;
}
.new-task-reply-box-title h4{
    color: #9bc965;
    width: 80%;
    float: left;
}*/