<%= render layout: 'shared/default_box', locals: { box_title: "添加商品"} do |box| %>
	<% case box when Box::Body %>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
 <% end %>
<% end %>